* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.main {
  height: 100%;
  width: auto;
  background: #000;
}

.page-1 {
  height: 100vh;
  width: 100vw;
  position: relative;
}

#cursor {
  height: 7.5vw;
  width: 7.5vw;
  background-color: #442c1fdc;
  border-radius: 50px;
  position: fixed;
  z-index: 9;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translate(-50%, -50%);
}

#cursor h5 {
  font-size: 1.6vw;
  font-weight: 400;
  color: wheat;
}

a {
  color: #fff;
  text-decoration: none;
}

.page1-content {
  height: 100%;
  width: 100%;
  position: relative;
  z-index: 10;
  color: #fff;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}

.page1-content nav {
  margin: 30px;
  padding: 30px;
  color: rgb(236, 210, 62);
}

.page1-content h1 {
  font-size: 100px;
  font-weight: 100;
}

.page1-content h1 span {
  display: inline-block;
  letter-spacing: 20px;
}

#loader {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  background-color: #000;
  z-index: 99;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  gap: 13px;
}

#loader h3 {
  font-size: 2vw;
}

.page1-content h3 {
  font-size: 2vw;
  font-weight: 100;
}

/* button */

.btn {
  line-height: 50px;
  height: 50px;
  text-align: center;
  width: 250px;
  cursor: pointer;
}

/* 
    ========================
          BUTTON ONE
  
  */
.btn-one {
  color: #fff;
  transition: all 0.3s;
  position: relative;
}
.btn-one span {
  transition: all 0.3s;
}
.btn-one::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-top-style: solid;
  border-bottom-style: solid;
  border-top-color: rgba(255, 255, 255, 0.5);
  border-bottom-color: rgba(255, 255, 255, 0.5);
  transform: scale(0.1, 1);
}
.btn-one:hover span {
  letter-spacing: 2px;
}
.btn-one:hover::before {
  opacity: 1;
  transform: scale(1, 1);
}
.btn-one::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: all 0.3s;
  background-color: rgba(255, 255, 255, 0.1);
}
.btn-one:hover::after {
  opacity: 0;
  transform: scale(0.1, 1);
}
